includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    excludePaths:
        - src/ServiceContainer/MailhogExtension.php
        - tests/ServiceContainer/MailhogExtensionTest.php
        - tests/Listener/EventDispatcher.php
